@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    background-color: #1f2937;
}

/* NAV */

#logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.secondary,
a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* WELCOME */

.hero-image img {
    width: 500px;
    height: 350px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
    gap: 2em;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right {
    flex-shrink: 0;
    gap: 10px;
}